@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.menu-top {
    display: flex;
    position: fixed;
    background-color: #f4f4f4;
    width: 1200px;
    height: 100px;
    align-items: center;
    top: 5%;
    left:6.5%;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 5px 10px 15px 1px rgba(128, 128, 128, 0.459);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.menu-top .lad-e{
    display: flex;
    margin-left: 1em;
    gap: 1em;
}

.menu-top .lad-e h1{
    text-transform: uppercase;
    color: #421B0F;
    font-family: "Funnel Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
}

.menu-top .lad-e a img {
    position: absolute;
    left: 12em;
    top: 2.5em;
    width: 200px;
    height: 36px;
    transition: ease-in-out .3s;
}


.menu-top .lad-e a img:hover{
    transform: scale(1.1);
}   

.menu-top .lad-d{
    margin-right: 1em;
}

.menu-top .lad-d img{
    height: 60px;
    width: 160px;
}

@media screen and (max-width: 768px) {
    .menu-top {
        top: 0;
        left: 0;
        border-radius: 0;
        box-shadow: 0 0 0 0;
        justify-content: space-between;
        width: 768px;
    }

    .menu-top .lad-e h1{
        font-size: 30px;
    }

    .menu-top .lad-e a img {
        display: none;
    }
}
